/* 
base style
 */

 body {
    background-color: #D5E1EF;
    font-size: 15px;
 }

/* 
footer
 */

.attribution { 
    font-size: 0.6875rem; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
